{
	"semi": false,
	"singleQuote": true,
	"printWidth": 100,
	"trailingComma": "es5",
	"arrowParens": "always",
	"tabWidth": 2,
	"useTabs": true,
	"editor.formatOnSave": true,
	"proseWrap": "always",
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"bracketSpacing": true
}
